{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": [".prettierrc", ".lintstagedrc", ".stylelintrc"],
            "options": { "parser": "json" }
        }
    ]
}
